streamlit
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-text-splitters
langsmith
google-generativeai
faiss-cpu
huggingface-hub
sentence-transformers
torch
transformers
scikit-learn
pandas
python-dotenv
