accelerate
aiohttp
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
faiss-cpu
filelock
filetype
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
mpmath
multidict
mypy_extensions
narwhals
networkx
numpy
orjson
packaging
pandas
pillow
propcache
proto-plus
protobuf
psutil
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydeck
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
smmap
sniffio
SQLAlchemy
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
watchdog
yarl
zstandard
